header::after { 
    content: '';
    position: fixed;
    right: 0; top: 0;
    width: 50%; height: 60vh;
    background-color: var(--light-grayish-blue);
    border-bottom-left-radius: 5rem;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    header::after {
        width: 46%; height: 50vh;
    }
}