.content {
    display: flex;
    flex-direction: column;
    height: 100%
}

.content__imgbx {
    background: url(../../assets/imagens/illustration-devices.svg) no-repeat;
    background-size: 520px;

    width: 100%; height: 40vh;
}

.content__textbx {
    padding: 0px 33px 0px 33px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.textbx__subtitle {
    color: var(--grayish-blue);
    text-transform: uppercase;
    font: 500 1rem var(--font);
    letter-spacing: .3rem;
    padding-bottom: 15px;
}

.blackBtn {
    color: var(--light-grayish-blue);
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    background-color: var(--dark-blue);
    border-radius: 12px;
    padding: 5px 10px;
    font-size: .9rem;
    letter-spacing: 0;
    margin-right: 10px;
    display: inline-block;
}


h1 {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    color: (--dark-blue);

    padding-bottom: 5px;
}

p {
    color: var(--dark-grayish-blue);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    width: 85%;

    padding-bottom: 12px;
    line-height: 1.5;
}

.btns {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btnRed {
    border: 1px solid rgba(145, 143, 143, 0.11);
    background-color: rgba(255, 0, 0, 0.548);
    padding: .6rem .9rem;
    border-radius: 10px;
    color: #fdfdfd;
    text-transform: uppercase;
    font-size: .8rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.btnRed:hover {
    opacity: .9;
}

.btnTransparent {
    border: none;
    background-color: inherit;
    color: var(--grayish-blue);
    text-transform: uppercase;
    font-family: 'Barlow Condensed',sans-serif;
    font-size: .9rem;
    letter-spacing: .09rem;
    padding: .6rem .9rem;

    cursor: pointer;
}

@media only screen and (min-width:768px) {
    section {
        height: 75vh;
    }
    .content {
        display: flex;
        flex-direction: row-reverse;
        height: 100%;
    }

    .content__imgbx {
        height: 100%; width: 50%;
        background-size: 900px;
        margin-left: 8rem;
        margin-top: 2rem;
    }

    .content__textbx {
        width: 50%; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        padding-left: 145px;
        padding-top: 0px;
    }

    h1 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 2.75rem;
    }



}
